<%= form_for(@menu_item) do |f| %>
  <% if @menu_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu_item.errors.count, "error") %> prohibited this menu_item from being saved:</h2>

      <ul>
      <% @menu_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url, class: "form-control" %>
  </div>
	<div class="field">
    <%= f.label :priority %><br>
    <%= f.text_field :priority, class: "form-control" %>
  </div>
  <br />
  <% if(@menu_item.parent) %>
    Parent: <%= link_to(@menu_item.parent.title, @menu_item.parent) %>
  <% end %>
  <br />
  <br />
  <div class="field">
    <%= f.hidden_field :parent_item_id %>
  </div>
  <div class="actions">
    <input type="submit" class="btn" name="name" value="Submit">
  </div>
  <br />
<% end %>
