<section class="section-default-imgleft">
	<div class="container">
	  <div class="row">
	    <div class="col-lg-6" >
	      <img src="<%= obj.img %>" />
	    </div>
			<div class="col-lg-6" >
	      <h1><%= obj.h1 %></h1>
				<p><%= obj.p %></p>
				<p><a href="<%= obj.button_link %>" class="btn btn-default" role="button"><%= obj.button_text %></a></p>
	    </div>
	  </div>
	</div>
</section>