<section class="section-thumbnail" style="background-color:<%= obj.background_color %>;color:<%= obj.color %> ;">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 heading">
				<h1><%= obj.title %></h1>
				<p><%= obj.description %></p>
			</div>
		</div>

		<div class="row">
			<% obj.child_items.each do |item| %>
			<div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img data-src="holder.js/300x300" alt="..." src="<%= item.graphic %>">
		      <div class="caption">
		        <h3><%= item.title %></h3>
		        <p><%= item.description %></p>
		        <p><a href="<%= item.button_link %>" class="btn btn-default" role="button"><%= item.button_text %></a></p>
		      </div>
		    </div>
		  </div>
			<% end %>
		</div>
	</div>
</section>
