<section class="section-four-inline">
	<div class="container">
	  <div class="row">
		<% obj.child_items.each do |item| %>
			<div class="col-lg-3 item" >
	      <div class="icon">
	      	<i class="<%= item.graphic %>"></i>
	      </div>
				<h1><%= item.title %></h1>
				
				<% if(!item.description.blank?) %>
					<p><%= item.description %></p>
				<% end %>

				<% if(!item.button_text.blank?) %>
					<p><a href="<%= item.button_link %>" class="btn btn-default" role="button"><%= item.button_text %></a></p>
				<% end %>
	    </div>
		<% end %>
	  </div>
	</div>
</section>
