<section class="section-default-imgbottom">
	<div class="container">
	  <div class="row">
	    <div class="col-lg-12" >
	      <h2><%= obj.title %></h2>
				<div style="text-align:justify;">
					<%=  simple_format(obj.description) %>
				</div>
				<% if (!obj.button_link.empty? && obj.button_link != "#") %>
					<p><a href="<%= obj.button_link %>" class="btn btn-default" role="button"><%= obj.button_text %></a></p>
				<% end %>
	    </div>
	  </div>

		<div class="row">
			<% if (!obj.graphic.empty?) %>
		    <div class="col-lg-12 imgcontainer" >
		      <img src="<%= obj.graphic %>" />
		    </div>
			<% else %>
				<div class="col-lg-12 padding-bot" >
				</div>
			<% end %>
	  </div>
	</div>

</section>
