<section class="section-default-imgbottom">
	<div class="container">
	  <div class="row">
	    <div class="col-lg-12" >
	      <h2><%= obj.title %></h2>
				<p><%= obj.description %></p>
				<p><a href="<%= obj.button_link %>" class="btn btn-default" role="button"><%= obj.button_text %></a></p>
	    </div>
	  </div>

		<div class="row">
	    <div class="col-lg-12 imgcontainer" >
	      <img src="<%= obj.graphic %>" />
	    </div>
	  </div>
	</div>

</section>
