<section class="">
  <div class="container-fluid full-width-fixed-attachment" style="background-image:url(<%= obj.graphic %>); background-attachment:fixed;">
    <div class="background">
      <div class="row">
        <div class="col-lg-12">
          <div class="side">
            <i class="fa <%= obj.icon %>" ></i> <%= obj.title %>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="icon-top">
                  <i class="fa <%= obj.icon %>" ></i>
                </div>
                <h3><%= obj.title %></h3>
                <p>
                  <%= raw obj.description %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
