<div class="container">
  <div class="row">
    <div class="col-lg-12" >
      <%= form_for(@generic_item) do |f| %>
			  <% if @generic_item.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@generic_item.errors.count, "error") %> prohibited this generic_item from being saved:</h2>

			      <ul>
			      <% @generic_item.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

        <% if(!@generic_item.parent_item_id) %>
  				<div class="field">
  			    <%= f.label :component %><br>
  			    <!-- <%= f.text_field :component %> -->
  					<%= render "shared/dropdown_components", obj: @generic_item %>
  			  </div>
        <% end %>

        <% if(@generic_item.parent) %>
        <div class="">
          <%= link_to "parent", @generic_item.parent %>
          <ul>
            <li>Type: <strong><%= translate_component(@generic_item.parent.component) %></strong></li>
            <li>Title: <%= @generic_item.parent.title %></li>
          </ul>
        </div>
        <% end %>

        <% if(!@generic_item.parent) %>
  			  <div class="field" id="generic-item-title">
  			    <%= f.label :title %><br>
  			    <%= f.text_field :title, class: "form-control" %>
  			  </div>
  			  <div class="field" id="generic-item-description">
  			    <%= f.label :description %><br>
  					<%= f.text_area :description, class: "form-control"  %>
  			  </div>
  			  <div class="field" id="generic-item-graphic">
  			    <%= f.label :graphic %><br>
  			    <%= f.text_field :graphic, class: "form-control"  %>
  			  </div>
  			  <div class="field" id="generic-item-button-link">
  			    <%= f.label :button_link %><br>
  			    <%= f.text_field :button_link, class: "form-control"  %>
  			  </div>
  			  <div class="field" id="generic-item-button-text">
  			    <%= f.label :button_text %><br>
  			    <%= f.text_field :button_text, class: "form-control"  %>
  			  </div>
        <% else %>
          <% if(@defaults[:title]) %>
            <div class="field" id="generic-item-title">
              <%= f.label :title %><br>
              <%= f.text_field :title, class: "form-control" %>
            </div>
          <% end %>
          <% if(@defaults[:description]) %>
            <div class="field" id="generic-item-description">
              <%= f.label :description %><br>
              <%= f.text_area :description, class: "form-control"  %>
            </div>
          <% end %>
          <% if(@defaults[:graphic]) %>
            <div class="field" id="generic-item-graphic">
              <%= f.label :graphic %><br>
              <%= f.text_field :graphic, class: "form-control"  %>
            </div>
          <% end %>
          <% if(@defaults[:button_link]) %>
            <div class="field" id="generic-item-button-link">
              <%= f.label :button_link %><br>
              <%= f.text_field :button_link, class: "form-control"  %>
            </div>
          <% end %>
          <% if(@defaults[:button_text]) %>
            <div class="field" id="generic-item-button-text">
              <%= f.label :button_text %><br>
              <%= f.text_field :button_text, class: "form-control"  %>
            </div>
          <% end %>
        <% end %>

        <div class="field" id="generic-item-priority">
          <%= f.label :priority %><br>
          <%= f.text_field :priority, class: "form-control"  %>
        </div>

        <% if(@generic_item.parent) %>
  				<div class="field">
  			    <%= f.label :parent_item_id %><br>
            <%= @generic_item.parent_item_id %>
  			    <%= f.hidden_field :parent_item_id %>
  			  </div>
        <% end %>

			  <div class="actions">
			    <%= f.submit "Submit" , class: "btn btm-default", style: "margin-top:20px;" %>
			  </div>
			<% end %>
    </div>
  </div>
</div>
