<div class="container">
  <div class="row">
    <div class="col-lg-12" >
      
			<p id="notice"><%= notice %></p>

			<p>
			  <strong>Title:</strong>
			  <%= @generic_item.title %>
			</p>

			<p>
			  <strong>Description:</strong>
			  <%= @generic_item.description %>
			</p>

			<p>
			  <strong>Graphic:</strong>
			  <%= @generic_item.graphic %>
			</p>

			<p>
			  <strong>Button link:</strong>
			  <%= @generic_item.button_link %>
			</p>

			<p>
			  <strong>Button text:</strong>
			  <%= @generic_item.button_text %>
			</p>

			<p>
			  <strong>Component:</strong>
			  <%= translate_component(@generic_item.component) %>
			</p>

			<p>
			  <strong>Parent Item:</strong>
				<% if(@generic_item.parent_item_id) %>
					<%= link_to 'Parent', generic_item_path(@generic_item.parent_item_id) %>
				<% end %>
			  <%= @generic_item.parent_item_id %>
			</p>

			<p>
			  sub items:
				<ul>
				<% @generic_item.child_items.each do |item| %>
					<li>
					<%
						item_link_text = "Item ID:#{item.id}"
					%>
					<b><%= link_to item_link_text, item %> </b></br>
					</li>
				<% end %>
				</ul>
			</p>


			<%
				new_item_link = "/generic_items/new?parent_item_id=#{@generic_item.id}"
			%>

			<%= link_to 'Add Sub Item', new_item_link , class: "btn btn-default" %> |
			<%= link_to 'Edit', edit_generic_item_path(@generic_item), class: "btn btn-default"  %> |
			<%= link_to 'Back', generic_items_path, class: "btn btn-default" %>
    </div>
  </div>
</div>