<!DOCTYPE html>
<html>
<head>
  <title><%= if @title then @title else "Simple Custom Solutions" end %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png">

  <% template = get_active_template %>
  <style media="screen">
    html, body {
      background-color: <%= template.body_background_color %>;
      color: <%= template.body_font_color %>;
    }
    header .navbar {
      background-color: <%= template.header_background_color %>;
      color: <%= template.header_font_color %>;
    }
    .navbar-default .navbar-nav > li > a {
      color: <%= template.header_font_color %>;
    }
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
      background-color:  <%= template.header_open_background_color %>;
      color: <%= template.header_open_font_color; %>
    }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
      color: <%= template.dropdown_menu_hover_font_color %>;
      background-color: <%= template.dropdown_menu_hover_background_color %>;
    }
    .dropdown-menu > li > a {
      color: <%= template.dropdown_menu_font_color %>;
    }
    footer {
      background-image: linear-gradient(to bottom,  <%= template.footer_top_background_gradient %>,  <%= template.footer_bottom_background_gradient %>) !important;
      color: <%= template.footer_font_color %>;
    }
    footer b, footer h4 {
      color: <%= template.footer_header_color %>;
    }
    footer a {
      color: <%= template.footer_link_color %>;
    }

  </style>

</head>
<body>
<%= render "shared/header" %>

<%= yield %>

<%= render "shared/footer" %>
</body>
</html>
